In [27]:
import numpy as np
import pandas as pd
import networkx as nx

In [29]:
file_path = "PAM50/";
score_data_output_file_name = "score_test_result_reindexed.csv";

estimation_result_file_name = "estimation_result_mlp.csv";
output_file_name = "mlp_output_file.csv";

# estimation_result_file_name = "estimation_result_svm.csv";
# output_file_name = "svm_output_file.csv";

estimation_result = pd.read_csv(file_path+estimation_result_file_name,index_col=0);
display(estimation_result);

                                   Estimation
PAM50Call_RNAseq_causes_CLEC3A              1
CLEC3A_causes_PAM50Call_RNAseq              1
PAM50Call_RNAseq_causes_CPB1                1
CPB1_causes_PAM50Call_RNAseq                1
PAM50Call_RNAseq_causes_SCGB2A2             1
...                                       ...
LOC440905_causes_PAM50Call_RNAseq           1
PAM50Call_RNAseq_causes_CDH1                1
CDH1_causes_PAM50Call_RNAseq                1
PAM50Call_RNAseq_causes_ERBB2               1
ERBB2_causes_PAM50Call_RNAseq               1

[994 rows x 1 columns]

In [31]:
PAM50GenesStr = "ACTR3B, ANLN, BAG1, BCL2, BIRC5, BLVRA, CCNB1, CCNE1, CDC20, CDC6, CDH3, CENPF, CEP55, CXXC5, EGFR, ERBB2, ESR1, EXO1, FGFR4, FOXA1, FOXC1, GPR160, GRB7, KIF2C, KRT14, KRT17, KRT5, MAPT, MDM2, MELK, MIA, MKI67, MLPH, MMP11, MYBL2, MYC, NAT1, NDC80, NUF2, ORC6L, PGR, PHGDH, PTTG1, RRM2, SFRP1, SLC39A6, TMEM45B, TYMS, UBE2C, UBE2T";
PAM50GenesList = list(PAM50GenesStr.split(", "));
PAM50GenesList

['ACTR3B',
 'ANLN',
 'BAG1',
 'BCL2',
 'BIRC5',
 'BLVRA',
 'CCNB1',
 'CCNE1',
 'CDC20',
 'CDC6',
 'CDH3',
 'CENPF',
 'CEP55',
 'CXXC5',
 'EGFR',
 'ERBB2',
 'ESR1',
 'EXO1',
 'FGFR4',
 'FOXA1',
 'FOXC1',
 'GPR160',
 'GRB7',
 'KIF2C',
 'KRT14',
 'KRT17',
 'KRT5',
 'MAPT',
 'MDM2',
 'MELK',
 'MIA',
 'MKI67',
 'MLPH',
 'MMP11',
 'MYBL2',
 'MYC',
 'NAT1',
 'NDC80',
 'NUF2',
 'ORC6L',
 'PGR',
 'PHGDH',
 'PTTG1',
 'RRM2',
 'SFRP1',
 'SLC39A6',
 'TMEM45B',
 'TYMS',
 'UBE2C',
 'UBE2T']

In [33]:
result_list = [];
for index,row in estimation_result.iterrows():
    idx_strs = index.split("_causes_");
    
    node1_name = idx_strs[0];
    node2_name = idx_strs[1];
    # print(index);
    if node2_name == "PAM50Call_RNAseq" and node1_name in PAM50GenesList:
        print(node1_name+"->"+node2_name);
        result_list.append({"Cause":node1_name,"Effect":node2_name});

KRT14->PAM50Call_RNAseq
KRT5->PAM50Call_RNAseq
PGR->PAM50Call_RNAseq
KRT17->PAM50Call_RNAseq
ESR1->PAM50Call_RNAseq
MIA->PAM50Call_RNAseq
SFRP1->PAM50Call_RNAseq
NAT1->PAM50Call_RNAseq
FOXA1->PAM50Call_RNAseq
MAPT->PAM50Call_RNAseq
ERBB2->PAM50Call_RNAseq

In [35]:
result_df = pd.DataFrame(result_list);
display(result_df);

result_df.to_csv(file_path+output_file_name,index=None);

    Cause            Effect
0   KRT14  PAM50Call_RNAseq
1    KRT5  PAM50Call_RNAseq
2     PGR  PAM50Call_RNAseq
3   KRT17  PAM50Call_RNAseq
4    ESR1  PAM50Call_RNAseq
5     MIA  PAM50Call_RNAseq
6   SFRP1  PAM50Call_RNAseq
7    NAT1  PAM50Call_RNAseq
8   FOXA1  PAM50Call_RNAseq
9    MAPT  PAM50Call_RNAseq
10  ERBB2  PAM50Call_RNAseq