In [2]:
import numpy as np
import pandas as pd
import networkx as nx

from sklearn.impute import SimpleImputer

# import Utils as Utils

In [4]:
data_path = "OvarianCancer/";
file_name = "OvarianCancer.csv";
dataset = pd.read_csv(data_path+file_name,index_col=0);
display(dataset);
#print(mixed_sim_dataset.columns);

# # dataset.replace({"NO": 0, "YES": 1}, inplace=True);
# print(dataset["Gravidity"].unique());
# dataset.replace({'1st':1, '2nd':2, '5th':5, '3rd':3, '4th':4, '6th':6, '7th':7}, inplace=True);
# print(dataset["Gender"].unique());
# dataset.replace({"Girl": 1, "girl": 1,"boy":2}, inplace=True);
# print(dataset["Baby-Weight(g)"].unique());
# dataset.replace({"A": 1, "B": 2,"C":3}, inplace=True);

# display(dataset);

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,NEU,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
1,3.58\t,19.36,47,45.4,56.0,11.0,24.0,0.01,0.30,5.35,...,76.2,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4
2,34.24\t,23.98,61,39.9,95.0,9.0,13.0,0.02,0.30,3.21,...,76.5,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2
3,1.50\t,18.40,39,45.4,77.0,9.0,18.0,0.03,0.60,3.80,...,69.7,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2
4,2.75,16.60,45,39.2,26.0,16.0,17.0,0.05,0.74,5.27,...,65.5,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6
5,2.36,19.97,45,35.0,47.0,21.0,27.0,0.01,0.10,4.89,...,59.5,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,2.09,20.91,52,48.6,65.0,40.0,30.0,0.00,0.00,4.29,...,NaN,0.22,10.8,0.99,219,4.56,11.9,10.7,80.4,241.5
411,2,12.14,37,46.1,49.0,9.0,20.0,0.00,0.00,3.12,...,NaN,0.31,17.3,0.95,262,4.24,17.7,17.2,73.5,240.5
412,2.83,19.23,59,45.8,83.0,9.0,16.0,0.02,0.60,4.38,...,NaN,0.21,10.4,1.00,221,4.89,11.6,13.8,68.4,209.5
413,1.84,27.22,30,47.8,64.0,26.0,22.0,0.03,0.30,3.61,...,NaN,0.42,13.4,1.31,398,5.35,12.5,11.3,76.0,285.7
414,1.61,13.00,39,44.9,68.0,7.0,13.0,0.01,0.20,4.38,...,NaN,0.23,11.0,1.10,224,4.13,12.1,8.3,68.6,184.9

In [6]:
# dataset.isnull().values.any()
# Remove rows with any NaN values
# dataset.dropna(inplace=True);
# dataset.columns
# dataset['TYPE']

# Remove tab characters from all columns
dataset = dataset.replace('\t', '', regex=True);

dataset = dataset.replace('>', '', regex=True);

dataset = dataset.replace('<', '', regex=True);

display(dataset);

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,NEU,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
1,3.58,19.36,47,45.4,56.0,11.0,24.0,0.01,0.30,5.35,...,76.2,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4
2,34.24,23.98,61,39.9,95.0,9.0,13.0,0.02,0.30,3.21,...,76.5,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2
3,1.50,18.40,39,45.4,77.0,9.0,18.0,0.03,0.60,3.80,...,69.7,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2
4,2.75,16.60,45,39.2,26.0,16.0,17.0,0.05,0.74,5.27,...,65.5,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6
5,2.36,19.97,45,35.0,47.0,21.0,27.0,0.01,0.10,4.89,...,59.5,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,2.09,20.91,52,48.6,65.0,40.0,30.0,0.00,0.00,4.29,...,NaN,0.22,10.8,0.99,219,4.56,11.9,10.7,80.4,241.5
411,2,12.14,37,46.1,49.0,9.0,20.0,0.00,0.00,3.12,...,NaN,0.31,17.3,0.95,262,4.24,17.7,17.2,73.5,240.5
412,2.83,19.23,59,45.8,83.0,9.0,16.0,0.02,0.60,4.38,...,NaN,0.21,10.4,1.00,221,4.89,11.6,13.8,68.4,209.5
413,1.84,27.22,30,47.8,64.0,26.0,22.0,0.03,0.30,3.61,...,NaN,0.42,13.4,1.31,398,5.35,12.5,11.3,76.0,285.7
414,1.61,13.00,39,44.9,68.0,7.0,13.0,0.01,0.20,4.38,...,NaN,0.23,11.0,1.10,224,4.13,12.1,8.3,68.6,184.9

In [8]:
# dataset['TYPE'].unique()
# Create an imputer instance
imputer = SimpleImputer(strategy='mean');

# Define the condition for imputation
condition = dataset['TYPE'] == 1;

# # Apply imputation only to rows that meet the condition
dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

# Define the condition for imputation
condition = dataset['TYPE'] == 0;

# # Apply imputation only to rows that meet the condition
dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

display(dataset);

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,NEU,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
1,3.58,19.36,47,45.4,56.0,11.0,24.0,0.01,0.30,5.35,...,76.200000,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4
2,34.24,23.98,61,39.9,95.0,9.0,13.0,0.02,0.30,3.21,...,76.500000,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2
3,1.5,18.40,39,45.4,77.0,9.0,18.0,0.03,0.60,3.80,...,69.700000,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2
4,2.75,16.60,45,39.2,26.0,16.0,17.0,0.05,0.74,5.27,...,65.500000,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6
5,2.36,19.97,45,35.0,47.0,21.0,27.0,0.01,0.10,4.89,...,59.500000,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,2.09,20.91,52,48.6,65.0,40.0,30.0,0.00,0.00,4.29,...,59.594831,0.22,10.8,0.99,219,4.56,11.9,10.7,80.4,241.5
411,2.0,12.14,37,46.1,49.0,9.0,20.0,0.00,0.00,3.12,...,59.594831,0.31,17.3,0.95,262,4.24,17.7,17.2,73.5,240.5
412,2.83,19.23,59,45.8,83.0,9.0,16.0,0.02,0.60,4.38,...,59.594831,0.21,10.4,1.00,221,4.89,11.6,13.8,68.4,209.5
413,1.84,27.22,30,47.8,64.0,26.0,22.0,0.03,0.30,3.61,...,59.594831,0.42,13.4,1.31,398,5.35,12.5,11.3,76.0,285.7
414,1.61,13.00,39,44.9,68.0,7.0,13.0,0.01,0.20,4.38,...,59.594831,0.23,11.0,1.10,224,4.13,12.1,8.3,68.6,184.9

In [10]:
file_name = "processed_data.csv";
dataset.to_csv(data_path+file_name,index=None)

In [12]:
# import pandas as pd
# import numpy as np
# from sklearn.impute import SimpleImputer

# # Create a sample DataFrame
# data = {'A': [1, 2, 3, 4], 'B': [5, np.nan, 7, 8]}
# df = pd.DataFrame(data)
# display(df);

# # Define the condition for imputation
# condition = df['A'] > 1

# # Create an imputer instance
# imputer = SimpleImputer(strategy='mean')

# df.loc[condition, :]

# # # Apply imputation only to rows that meet the condition
# df.loc[condition, :] = imputer.fit_transform(df.loc[condition, :])

# display(df);

# # condition